header {
  background-color: var(--color-back-groud-dark);
}
.cel-mode-trigger {
  display: flex;
  justify-content: end;
  width: 100%;
}
.cel-mode-container {
  width: 50vw;
  height: 100vh;
  background-color: var(--color-back-groud-dark);
  position: absolute;
  top: 0;
  right: 0;
}
.cel-mode-container-close {
  display: flex;
  justify-content: end;
}
.menu-ham,
.close {
  color: var(--color-text);
  border: none;
}
.container {
  background-color: var(--color-back-groud-dark);
}
.nav-list {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 40px;
}
.desktop-mode {
  display: none;
}
.nav-link {
  text-decoration: none;
  color: var(--color-text);
}
@media (min-width: 768px) {
  .menu-ham {
    display: none;
  }
  .desktop-mode-ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  .desktop-mode {
    display: block;
  }
}
